<%= simple_form_for [topic, post] do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4>There are <%= pluralize(post.errors.count, "error") %></h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title, placeholder: "Enter post title", class: 'form-control'  %>
    <%= f.input :body, rows: 8, placeholder: "Enter post body", class: 'form-control' %>
      <%= f.label :image %>
      <%= f.file_field :image %>
    <%= f.submit 'Save', class: 'btn btn-success' %>
  <% end %>