<h1><%= @post.title %></h1>
<div class="row">
  <div class="col-md-8">
    <small>
       <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %>
    </small>
      <%= image_tag(@post.image.thumb.url) if @post.image? %>
    <p><%= markdown @post.body %></p>
        <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8"> 
    <% if policy(Comment.new).create? %>
    <%= render 'comments/form', topic: @topic, post: @post, body: @body %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h4>Here are previous comments on this post.</h4>
      <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: {comment: comment} %>
      <% end %>
  </div>
</div>